# macOS
.DS_Store

# Python cache/bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Packaging/build
build/
dist/
*.egg-info/
.eggs/
*.egg

# Jupyter
.ipynb_checkpoints/

# Editors/IDEs
.vscode/
.idea/

# Logs and coverage
*.log
.coverage
.pytest_cache/